@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

section{
    background-color: #f7f7ff;
    display: grid;
    grid-template-rows: auto auto 1fr;
    justify-items: center;
    gap: 20px;
    height: 100vh;
    padding: 5%;
}

h1{
    opacity: .6;
}

section > div:nth-of-type(1){
    display: flex;
    align-items: center;
    color: #aaa;
    font-weight: 600;
    font-size: .8rem;
}

.toggle{
    display: inline-block;
    position: relative;
    height: 1.7rem;
    width: 3rem;
    margin: 0 20px;
    border-radius: 20px;
    background-image: linear-gradient(90deg, #a0a4f0, #6f73df);
}

#toggle-circle{
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: white;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    transition: .5s;
}

.prices{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.prices div{
    background-color: white;
    border-radius: 10px;
    padding: 50px 20px;
    text-align: center;
    width: 25vw;
}

.prices h2{
    font-size: 1rem;
}

.prices p{
    font-size: 3.5rem;
    font-weight: 700;
    padding: 15px;
}

ul{
    border-top: 1px solid #ddd9;
    margin: 15px 0 25px;
}

ul li{
    padding: 20px 0;
    list-style: none;
    border-bottom: 1px solid #ddd9;
    font-size: .8rem;
}

a{
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
    padding: 15px 0;
    width: 100%;
    background-image: linear-gradient(90deg, #a0a4f0, #6f73df);
    border-radius: 8px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: .8rem;
    border: 1px solid transparent;
    transition: .2s !important;
}

a:hover{
    background-image: none;
    background-color: white;
    color: #6f73df;
    border: 1px solid #6f73df;
}

div.second-price{
    padding: 60px 20px;
    background-image: linear-gradient(90deg, #a0a4f0, #6f73df);
    color: white;
}

div.second-price a{
    background-image: none;
    background-color: white;
    color: #6f73df;
}

div.second-price a:hover{
    color: white;
    border: 1px solid #fff;
    background-color: transparent;
}

@media(max-width: 900px){
    .prices div{
        width: 30vw;
    }
}

@media(max-width: 750px){
    section{
        height: auto;
    }
    .prices{
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 30px 0;
    }
    .prices div{
        width: 80vw;
    }
}